* {
    line-height: 1.25;
    overflow-x: hidden;
}

header {
     margin-top: 2%;
     border-bottom: gray solid 5px;
     margin: 0;

}

nav {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    padding-bottom: 2%;
    margin-top: 2%;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;

}

nav li {
    list-style-type: none;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-right: 5%;
    
    
}

nav a:link {
    text-decoration: none;
}

nav a {
    color: firebrick;
}



body {
    min-height: 100vh;
    display: flex;
    flex-direction: column ;
}

main {
    flex: 1;
    padding: 2%;
    background-color: silver;
}



footer {
    border-top: gray solid 5px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 2%;
    padding-bottom: 1%;

}

#icon {
    border-radius: 100px;
    position: absolute;
    z-index: 2;
    right: 45vw;
    height: 60px;
    width: 60px;
    top: 150px;
    border: gray solid 5px;
    background-color: white;
    padding: 20px;
    
    
}

footer {
    text-align: center;
    margin: 0;
    padding: 0;

}